.pNiaga2{
    font-weight: 900;    
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.pengetahuan-niaga{
    font-size: 14px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}