<ion-header>
</ion-header>
<ion-content padding>
  <div class="main-content">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4 class="icon-atas-container">
          <div text-center class="icon-atas">
            <ion-icon name="custom-cow"></ion-icon>
          </div>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <ion-item class="inputx">
        <ion-label>Jenis Hewan</ion-label>
        <ion-select [(ngModel)]="jenisHewan" placeholder="" (ionChange)="showJenisHewan()">
          <ion-option value="unta">Unta</ion-option>
          <ion-option value="sapi">Sapi</ion-option>
          <ion-option value="kambing">Kambing</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="inputz">
        <ion-label stacked>Jumlah Hewan (ekor)</ion-label>
        <ion-input [(ngModel)]="jumlahHewanFormat" type="tel" clearInput="true" (input)="jumlahHewanFormat = format(jumlahHewanFormat)"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <button ion-button round block (click)="hitung()" color="buabu"> Hitung </button>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8 class="pPet" *ngIf="buttonClicked">
          <!-- <button ion-button round block color="primary" *ngIf="buttonClicked" class="buttonHasil">{{pPet}}</button> -->
          <p>{{pPet}}</p>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
    </ion-grid>
    <div>
      <p class="pHewan2">{{pHewan2}}</p>
    </div>
    <div class="pengetahuan-hewan">
      <strong>Syarat Umum :</strong>
      <ol>
        <li>Telah Sampai Nishab.</li>
        <li>Telah Berlalu satu tahun.</li>
        <li>Tenaganya tidak dipergunakan untuk produksi.</li>
        <li>Hewan Zakat tidak boleh hewan cacat, keculi hanya untuk Shadaqoh.</li>
        <li>Digembalakan.</li>
      </ol>
      <p text-wrap>
        <br>
        <strong>Sumber :</strong>
        <br>
        <br>“Tidaklah seseorang memiliki unta atau sapi atau kambing lalu ia tidak mengeluarkan zakatnya, melainkan hewan-hewan
        tersebut akan datang pada Hari Kiamat dalam bentuk yang besar dan gemuk sambil menanduk-nanduk tuannya dan mencakarnya
        dengan kuku kakinya [Adz-Dzalaf artinya kuku kaki Binatang], setelah sampai pada barisan terakhir, barisan pertama
        kembali lagi dan melakukan hal yang sama, sampai tiba pengadilan Allah.” [HR. Muslim]

      </p>
    </div>
  </div>
</ion-content>