// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-avatar"] {
      mask-image: url(../assets/icon/user.svg);
    }

    &[class*="custom-cow"] {
        mask-image: url(../assets/icon/cow.svg);
      }

    &[class*="custom-rice"] {
        mask-image: url(../assets/icon/rice.svg);
      }
    
    &[class*="custom-portfolio"] {
        mask-image: url(../assets/icon/portfolio.svg);
      }
    
    &[class*="custom-gold"] {
        mask-image: url(../assets/icon/gold-bars.svg);
      }

    &[class*="custom-money"] {
        mask-image: url(../assets/icon/funds.svg);
      }

    &[class*="custom-honey"] {
        mask-image: url(../assets/icon/jar-of-jam.svg);
      }

    &[class*="custom-balance"] {
        mask-image: url(../assets/icon/balance.svg);
      }

    &[class*="custom-chest"] {
        mask-image: url(../assets/icon/chest.svg);
      }

    &[class*="custom-bar"] {
        mask-image: url(../assets/icon/bar-chart.svg);
      }

    &[class*="custom-fish"] {
        mask-image: url(../assets/icon/fish.svg);
      }

    &[class*="custom-rice-color"] {
        mask-image: url(../assets/icon/ricecolor.svg);
      }

    &[class*="custom-line"] {
        mask-image: url(../assets/icon/line.svg);
      }

    &[class*="custom-instagram"] {
        mask-image: url(../assets/icon/instagram-logo.svg);
      }
  
  }