.pLaut2{
    font-weight: 900;    
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.pengetahuan-laut{
    font-size: 14px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.inputx{
    background-color: rgba(255,255,255,0.1);
    padding-right: 15px;
    padding-bottom: 8px;
    font-size: 12px;
}